sentence-transformers==2.7.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.40
langchain-openai==0.1.25
langchain-experimental==0.0.65
langchain-huggingface==0.0.3
langchain-groq==0.1.9
langchain-pinecone==0.1.3
flask
pymongo==4.10.1
pypdf
python-dotenv
pinecone==3.2.2
openai
gunicorn
flask-mail
werkzeug